#Add backend technologies
flask
torch==2.3.1+cpu
torchvision==0.18.1+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
flask-cors
werkzeug
opencv-python-headless
numpy
Pillow
tensorflow==2.17.0   # only if using Keras model; remove if not needed              # only if using PyTorch model
onnxruntime         # only if using ONNX model
onnx