# Core backend frameworks
flask
flask-cors
werkzeug

# PyTorch CPU versions
torch==2.3.1+cpu
torchvision==0.18.1+cpu
--extra-index-url https://download.pytorch.org/whl/cpu

# Utility libraries
opencv-python-headless
numpy
Pillow

# Optional ONNX support (if needed)
onnxruntime
onnx

# testing ci/cd
